@import '~bootstrap/scss/bootstrap';

$body-bg-color: #fafafa;
$font-size: 14px;

$primary-color: #03946d;
$primary-hover-color: #008248;
$primary-light-color: #d4e9e2;
$primary-dark-color: #1e3932;
$black-color: #2e2f2f;
$black-light: #666666;

@import './home.scss';
@import './global.scss';
@import './nav.scss';
@import './footer.scss';
@import './loign.scss';
