#register {
  .container {
    background-color: white !important;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100vh;
  margin: auto;
  .form-wrapper {
    display: flex;
    flex-direction: column;
    // width: 300px;
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
